
/*中间部分开始*/
.link{
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 20px;
}
.main{
    width: 1090px;
    height: 28px;
    margin: 0 auto;
    padding-left: 100px;
}
.main a{
    font-size: 14px;
    color: #000000;
    height: 28px;
}
.main span{
    font-size: 14px;
    color: rgb(141, 144, 149);
    font-style: normal;
    font-weight: normal;
}
.content{
    width: 934px;
    height: auto;
    /*margin-top: 32px;*/
    margin: 30px auto 80px;
}
.content h2{
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    text-align: center;
}
.content p:first-of-type{
    width: 934px;
    height: 21px;
    line-height: 21px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}
.content p:last-of-type{
    width: 934px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    line-height: 30px;
}
.return{
    display: block;
    width: 100px;
    height:48px ;
    border: 2px solid #2A2A2A;
    margin: 0 auto 83px;
    padding: 13px 19px;
    font-size: 14px;
    color: #2a2a2a;
}
.return:hover{
    background: #2a2a2a;
    color: #ffffff;
}


