*{
    font-family: "微软雅黑";
}
ul{
    margin-bottom: 0;
}

.headermax{
    width:100%;
    height: 81px;
    padding: 0 40px;
    overflow: hidden;
    background: #FFFFFF;
    z-index: 2;
}
.head{
    max-width: 1190px;
    height: 81px;
    margin: 0 auto;
}
.header-left{
    /*width: 198px;*/
    padding:10px 0;
    float: left;
}
.header-left img{
    width: 126px;
    height: 57px;
}
nav{
    height: 81px;
    float: left;
    text-align: center;
}
nav ul{
    padding-top: 32px;
    height: 32px;
}
nav li{
    float: left;
    padding:0 20px;
}
nav li a{
    font-size: 14px;
    color: #BCBCBC;
}
nav li a:hover{
    color:#aaaaaa;
}
.header-right{
    float: right;
    width:282px;
    height:34px;
    margin: 25px 0;
    border: 1px solid #3ec9ad;

}
.header-right input{
    width: 235px;
    outline: none;
    color: #c9c9c9;
    font-size: 14px;
    line-height: 32px;
    font-family: 微软雅黑;
    border: 0;
    float: left;
}
.search{
    width:45px;
    height: 34px;
    background: #3ec9ad;
    float: right;
    text-align: center;
}
.search i{
    color: #fff;
    line-height: 32px;
    font-size: 22px;
    cursor: pointer;
}
/*头部结束*/
/*中间部分开始*/
.link{
    width: 100%;
    height: 28px;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 20px;
}
.main{
    width: 1090px;
    height: 28px;
    margin: 0 auto;
    padding-left: 100px;
}
.main a{
    font-size: 14px;
    color: #000000;
    height: 28px;
}
.main span{
    font-size: 14px;
    color: rgb(141, 144, 149);
    font-style: normal;
    font-weight: normal;
}
.content{
    width: 934px;
    height: auto;
    /*margin-top: 32px;*/
    margin: 30px auto 80px;
}
.content h2{
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    text-align: center;
}
.content p:first-of-type{
    width: 934px;
    height: 21px;
    line-height: 21px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
}
.content p:last-of-type{
    width: 934px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    line-height: 30px;
}
.return{
    display: block;
    width: 56px;
    height:19px ;
    border: 2px solid #2A2A2A;
    margin: 0 auto 83px;
    padding: 13px 19px;
    font-size: 14px;
    color: #2a2a2a;
}
.return:hover{
    background: #2a2a2a;
    color: #ffffff;
}
/*底部开始*/
footer{
    padding:20px 0;
    background: #c1c1c1;
}
.foot-wrap{
    max-width: 934px;
    padding:0 40px;
    margin:0 auto ;
    text-align: center;
    font-size:11px;
    color:#808080;
    line-height: 26px;
}
.font-s12{
    font-size: 12px;
    font-family: "arial";
    color:#666666
}

