
/*内容部分开始*/
.content{
    width: 932px;
    height:auto;
    padding: 40px;
    border: 1px solid #dddddd;
    margin: 0 auto;
}
.content p{
    width: 100%;
    font-size: 22px;
    text-align: center;
    padding: 9px 0 21px;

}
.content li{
    width: 620px;
    hieght:465px;
    margin: 0 auto;
}
.content li img{
    width: 620px;
    hieght:465px;

}
.content ul p{
    width: 100%;
    font-size: 14px;
    color: #666666;
}