
.listcontent{
    width: 100%;
    height: auto;
    padding:10px 80px  80px;
}
.listcontent li{
    width: 915px;
    height: 205px;
    border-bottom: 1px dotted #e5e5e5;
    padding:20px;
}
.listcontent li img{
    width: 200px;
    height: 133px;
    float: left;
    margin-right: 30px;
}
.cont-desc{
    width: 643px;
    height: 154px;
    float: left;

}
.cont-desc p{
    olor: #3a3a3a;
    font-size: 16px;
    line-height: 16px;
    font-family: "微软雅黑";
}
.cont-desc h4{
    color: #686868;
    font-size: 12px;
    line-height: 12px;
    margin-top: 15px;
    font-weight: normal;
}
.cont-desc div{
    color: #afafaf;
    font-size: 12px;
    font-family: 微软雅黑;
    line-height: 20px;
    padding-top: 9px;
}
.read-content{
    width: 49px;
    height: 16px;
    color: #3ec9ad;
    font-size: 12px;
    float: right;
    margin-top: 20px;
    border-bottom: 1px solid #fff;
}
.read-content:hover{
    border-bottom: 1px solid #3ec9ad;
    color: #3ec9ad;
}

